# ==============================================================================
# Configuração de Variáveis de Ambiente - Coeur API
# ==============================================================================

# Portas expostas no Docker
APP_PORT=8080
REDIS_PORT=6379

# Conexão com o Banco de Dados PostgreSQL Externo
# Nota: No ambiente Docker Compose local, utilize host.docker.internal para referenciar o Host
DATABASE_URL=jdbc:postgresql://localhost:5432/mydatabase
DATABASE_USERNAME=myuser
DATABASE_PASSWORD=secret

# Ativação/Desativação de Migrações Flyway
FLYWAY_ENABLED=true

# Conexão com o Servidor Redis
REDIS_HOST=localhost
REDIS_PASSWORD=
